body {
    background-image: url("webBackground.jpg");
}

h1 {
    text-align: center;
}

.title h1 span {
    color: gray;
    font-weight: 400;
}

img {
    height: 100px;
    width: 100px;
}

.donated {
    float: right;
    padding-right: 70%;
}

header, main {
    background-color: rgb(240, 240, 240);
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
}

.updates, .projects, .about {
    font-weight: normal;
}

.donated {
    text-align: right;
}